networks:
  familymeet:
    name: familymeet

services:
  frankenphp:
    build:
      context: .
      target: runner
    restart: unless-stopped
    ports:
      - "443:443"
      - "443:443/udp"
      - "80:80"
    environment:
      SERVER_NAME: api-family-meet.cloud
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - familymeet

  db:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: familymeet
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - familymeet

volumes:
  db_data: {}
  caddy_data: {}
  caddy_config: {}
