networks:
  familymeet:
    name: familymeet

services:
  frankenphp:
    build:
      context: .
      target: runner_prod
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "443:443"
      - "443:443/udp"
      - "80:80"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./docker/caddy/prod/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./config/jwt:/app/config/jwt:ro
    networks:
      - familymeet

  db:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - familymeet

volumes:
  db_data: {}
  caddy_data: {}
  caddy_config: {}
