commands:
    01_install_php_amqp:
      command: |
        if php -m | grep -q "amqp"; then
          echo "L'extension PHP amqp est déja installée."
          exit
        else
          echo "L'extension PHP amqp n'est pas installée."
        fi
        # cmake
        if [ ! -d /cmake ]; then
          echo "installing cmake"
          if [ ! -f /cmake-3.28.0-linux-x86_64.sh ]; then
            echo "downloading cmake"
            wget https://cmake.org/files/LatestRelease/cmake-3.28.0-linux-x86_64.sh
          else
            echo "cmake already downloaded"
          fi
          echo "create cmake directory"
          mkdir cmake
          echo "execute cmake"
          /bin/sh cmake-3.28.0-linux-x86_64.sh --skip-license --prefix=./cmake
          echo "display cmake version"
          cmake/bin/cmake --version
          echo "remove cmake shell script"
          rm -f cmake-3.28.0-linux-x86_64.sh
        else
          echo "cmake already installed"
        fi
        # rabbitmq-c
        if [ ! -d /alanxz-rabbitmq-c* ]; then
          echo "downloading rabbitmq-c"
          wget https://github.com/alanxz/rabbitmq-c/tarball/master -O rabbitmq.tar.gz
          echo "extract rabbitmq-c files"
          tar xvfz rabbitmq.tar.gz
        else
          echo "rabbitmq-c already downloaded"
        fi
        echo "move to rabbitmq-c directory"
        cd /alanxz-rabbitmq-c*
        if [ ! -d /build ]; then
          echo "installing rabbitmq-c"
          mkdir build
        fi
        echo "move to build directory"
        cd build
        args=("-DCMAKE_INSTALL_PREFIX=/usr/local" "..")
        echo "launch cmake"
        ../../cmake/bin/cmake "${args[@]}"
        echo "build cmake"
        ../../cmake/bin/cmake --build . --target install
        echo "install amqp"
        pecl upgrade amqp < <(printf '%s\n' autodetect)
