container_commands:
    02_load_env_vars:
      command: |
        export $(sudo cat /opt/elasticbeanstalk/deployment/env | xargs)
        ENV_FILE=".env.prod"
        > "$ENV_FILE"
        env | grep -E '^[A-Za-z][A-Za-z0-9_]*=' | while IFS= read -r line; do
            echo "$line" >> "$ENV_FILE"
        done

