commands:
    03_install_supervisor:
      command: |
        if [ ! -f /usr/bin/supervisord ]; then
            echo "installing supervisor"
            #python3 -m ensurepip
            dnf install -y pip
            pip install supervisor
            if [ ! -d /var/run/supervisor ]; then
                mkdir /var/run/supervisor/
                chown ec2-user:ec2-user -R /var/run/supervisor/
            fi
            if [ ! -d /var/log/supervisor ]; then
                mkdir /var/log/supervisor/
                chown ec2-user:ec2-user -R /var/log/supervisor/
            fi
        else
            echo "supervisor already installed"
        fi
        #if ps aux | grep "[/]usr/local/bin/supervisord"; then
        #    echo "supervisor is running"
        #else
        sudo systemctl daemon-reload
        sudo systemctl enable supervisord
        echo "starting supervisor"
        sudo systemctl start supervisord
        sudo supervisorctl reload
        #/usr/local/bin/supervisord
        #fi
        #/usr/local/bin/supervisorctl reread
        #/usr/local/bin/supervisorctl update
        echo "Supervisor Running!"
