files:
   /etc/supervisor/conf.d/consumer.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
        [program:messenger_consume]
        command=php /var/app/current/bin/console messenger:consume amqp -vv --limit=10
        autostart=true
        autorestart=true
        redirect_stderr=true
        stdout_logfile=/var/log/messenger_consume.log
