commands:
    02_install_supervisor:
      command: |
        if [ ! -f /usr/bin/supervisord ]; then
            echo "installing supervisor"
            python3 -m ensurepip
            pip3 install supervisor
        else
            echo "supervisor already installed"
        fi
        if ps aux | grep "[/]usr/local/bin/supervisord"; then
            echo "supervisor is running"
        else
            echo "starting supervisor"
            /usr/local/bin/supervisord
        fi
        /usr/local/bin/supervisorctl reread
        /usr/local/bin/supervisorctl update
        echo "Supervisor Running!"
