#commands:
  #02_install_supervisor:
  #  command: |
  #    if [ ! -f /usr/bin/supervisord ]; then
  #        ls
  #        bin/sh /var/app/staging/.ebextensions/supervisor/setup.sh
  #    else
  #        echo "no need to install supervisor"
  #    fi

container_commands:
#  01_install_php_amqp:
#    command: |
#      if php -m | grep -q "amqp"; then
#          echo "no need to install php amqp"
#      else
#          bin/sh .ebextensions/php_amqp/setup.sh
#      fi
  03_jwtgeneratekeypair:
    command: sudo bin/console lexik:jwt:generate-keypair --skip-if-exists
  #04_dbmigration:
  #  leader_only: true
  #  command: sudo bin/console doctrine:migrations:migrate --no-interaction
