# uncomment to install php amqp
# commands:
#    02_install_php_amqp:
#        test: '[ ! -f /etc/php.d/amqp.ini ] && echo "amqp not installed"'
#        command: | 
#            wget https://cmake.org/files/LatestRelease/cmake-3.28.0-linux-x86_64.sh \
#            && /bin/sh cmake-3.28.0-linux-x86_64.sh < <(printf '%s\n' y y) \
#            && mv cmake-3.28.0-linux-x86_64 cmake \
#            && /cmake/bin/cmake --version \
#            && wget https://github.com/alanxz/rabbitmq-c/tarball/master -O rabbitmq.tar.gz \
#            && tar xvfz rabbitmq.tar.gz \
#            && cd alanxz-rabbitmq-c-7337e10/build \
#            && mkdir build \
#            && cd build \
#            && args=("-DCMAKE_INSTALL_PREFIX=/usr/local" "../alanxz-rabbitmq-c-7337e10") \
#            && ../../cmake/bin/cmake "${args[@]}" \
#            && ../../cmake/bin/cmake --build . --target install \
#            && pecl upgrade amqp \