commands:
    02_install_php_amqp:
        command: |
            cd alanxz-rabbitmq-c-7337e10/build \
            && args=("-DCMAKE_INSTALL_PREFIX=/usr/local" "..") \
            && ../../cmake/bin/cmake "${args[@]}" \
            && ../../cmake/bin/cmake --build . --target install \
            && pecl upgrade amqp \